body {
    margin: 0 auto;
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    background-color: black;
    color: seashell;
}

/* Nav */

nav {
    margin: 0 auto;
    display: flex;
    border-bottom: 1px solid seashell;
    height: 69px;
    width: 100%;
    justify-content: space-between;
    
}

.menu {
    display: flex;
    margin-right: 10px;
}

.menu li {
    margin-left: 34px;
    list-style-type: none;
}

.menu a {
    color: seashell;
}

#logo {
    height: 50px;
    width: auto;
    margin: auto 0;
    margin-left: 10px;
}

/* Header */

header {
    background-image: url("../img/img-mission-background.webp");
    display: flex;
    margin: 0 auto;
    height: 700px;
    width: 1200px;
    justify-content: center;
    align-items: center;
}

.title-head {
    text-align: center;
    width: 100%;
    background-color: black;
    opacity: 0.9;
}

/* Main */

main {
    margin: 0 auto;
    width: 1200px;
}

.title-tea {
    text-align: center;
}

.img-tea {
    display: flex;
    justify-content: space-between;
    justify-content: center;
    flex-wrap: wrap;
}

.img-tea img {
    width: 300px;
    height: 200px;
    margin-bottom: 10px;
}

.img-tea figcaption {
    text-align: center;
}

.title-location {
    margin-top: 40px;
    text-align: center;
    height: 600px;
    width: 1200px;
    background-image: url("../img/img-locations-background.webp");
}

.title-location h2 {
    padding-top: 80px;
}

.downtown, .east, .oakdale {
    background-color: black;
    height: 300px;
    width: 300px;
    align-items: center;
    margin: 15px 20px 0 20px;
}

.img-location {
    display: flex;
    justify-content: center;
}

/* Footer */

footer {
    height: 200px;
    width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.copyright {
    width: 1200px;
    margin: 0 auto;
}